
.container{

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    flex-direction: column;
    height: 100px;
    margin-bottom: 20px;

}

.button{

    border: none;
    color: white;
    background-color:#DA0037;
    margin:5px;
    height: 30px;
    width: 50px;
    border-radius: 5px;
}

