
.container{

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f1e1e;
    flex-direction: column;
    height: 100px;
    margin-bottom: 20px;

}

.button{

    border: none;
    color: black;
    font-weight: 500;
    background-color:#7ED957;
    margin:5px;
    height: 30px;
    width: 50px;
    border-radius: 5px;
}

hr{
    width: 100%;
    border: 1px solid #2e2d2d;
    margin-top: 13px;
}

